// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-margin-and-padding{
	padding: 0;
	margin: 0;
}

.item .thumb {
	width: 24%;
	height: 170px;
	cursor: pointer;
	float: left;
	background-size: cover;
}
.slide > .carousel-inner > .item > img{
	width: 100%;
	margin: 0 auto;
	max-width: 800px; 
	height: 500px;
}

.carousel-control {
	background-color: green;
}

.margin-top {
	margin-top: 10px;
}