<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<<<<<<< HEAD
    <%= link_to 'Sh@bu', '/', id: 'logo' %>
=======
    <%= link_to 'Sh@bu', root_path, id: 'logo' %>
>>>>>>> 2bbab105e11b930fc95655f1dfdee34464222d16
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Login', '#' %>
        </li>
        <li>
          <%= link_to 'Register', new_user_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>
